/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
	padding: 0;
	margin: 0;
}
.clear{
	clear: both;
}

#content-wrapper{
	margin: 20px 0;
	font-family: 'Open Sans', sans-serif;
	.column-content-left{
		.notice-wrapper{
		    background: #f08200;
		    padding: 20px 40px;
		    border-radius: 5px;
		    color: #fff;
		}
		.side-menu{
			ul{
			    border: 1px solid #0b56a7;
    			border-radius: 5px;
    			.active{
    				a{
    					background: #0b56a7;
    					color: #fff;
    				}
    			}
				li{
					&:last-child{
						border-bottom:none;
					}
					border-bottom: 1px solid #0b56a7;
					list-style: none;
					a{
						padding: 5px 10px;
						display: block;
						text-decoration: none;
					}
				}
			}
		}
		.btn-two-cols-wrapper{
			margin-bottom: 50px;
			.left{
				text-align: left;
				.btn{
					display: inline-block;
					a{
						text-decoration: none;
						border: 1px solid transparent;
						background: #f08200;
						color: #fff;
						border-radius: 5px;
						padding: 10px;
						&:hover{
							background:#fff;
							border-color: #f08200;
							color: #f08200;
						}
					}
				}
			}
			.right{
				text-align: right;
				.btn{
					display: inline-block;
					a{
						text-decoration: none;
						border: 1px solid transparent;
						background: #0b56a7;
						color: #fff;
						border-radius: 5px;
						padding: 10px;
						&:hover{
							background:#fff;
							border-color: #0b56a7;
							color: #0b56a7;
						}
					}
				}
			}
		}
		.checkbox-wrapper{
			margin: 20px 0;
		}
		.column-box-wrapper{
		    background: #0b56a7;
		    padding: 20px;
		    color: #fff;
		    border-radius: 5px;
		    margin-bottom: 50px;	
		    .tab-wrapper{
		    	.content-menu{
		    		.col-trf{
		    			.title{
		    				font-size: 18px;
		    				font-weight: bold;
		    			}
		    			.content{
		    				margin-top: 20px;
		    				.col{}
		    				.total{
		    					margin-top: 20px;
		    					font-size: 16px;
		    					font-weight: bold;
		    					text-transform: uppercase;
		    				}
		    				.bayar{
		    					font-weight: 600;
		    					@media screen and (max-width: 768px) {
		    						float: none !important;
		    						margin: 20px 0;
		    					}
	    					    a{
	    					    	text-decoration: none;
	    					    	background: #f08200;
	    					    	color: #fff;
	    					    	padding: 5px 10px;
	    					    	border-radius: 5px;
	    					    	@media screen and (max-width: 768px) {
	    					    		display: block;
	    					    		text-align: center;
	    					    	}
	    					    	&:hover{
	    					    		background:#fff;
	    					    		color: #f08200;
	    					    	}
	    					    }
		    				}
		    			}
		    		}		    		
		    	}
		    }	    
		    .column-box{
		    	.content-column-box{
		    		.col-passenger{
		    			cursor: pointer;
		    			margin-bottom: 20px;
		    			border: 2px solid #fff;
					    border-radius: 5px;
					    padding: 10px 20px;
					    &:hover{
					    	border-color:#f08200;
					    }
		    		}
		    		.active{
		    			border-color:#f08200;
		    		}
		    	}
		    	.column-sheet-wrapper{
		    		@media screen and (min-width: 1280px) {
		    			width: 650px;
		    			margin: 0 auto;
		    		}
		    		.after-column-sheet{
		    			margin-top: 20px;
		    			padding-top: 20px;
		    			border-top: 2px solid #fff; 
		    			.box-wrapper{		    				
		    				.box-col{
		    					width: 100px;
		    					text-align: center;
		    					display: inline-block;
		    					.box{
		    						display: inline-block;
		    					}
		    				}
		    			}
		    			.box-wrapper{
		    				.box-col{
		    					.filled{
		    						background: #fff;
		    					}
		    					.not{
		    						background: grey;
		    					}
		    					.isi{
		    						background: #f08200;
		    					}
		    					.box{
		    						width: 30px;
		    						height: 30px;
		    						border: 1px solid #fff;
		    						border-radius: 5px;
		    					}
		    				}
		    			}
		    		}
		    		.content-column-sheet{
		    			.prev{
	    				    position: absolute;
    						top: 50%;
    						left: 0;
    						cursor: pointer;
    						@media screen and (min-width: 1280px) {
    							left: -20px;
    						}
    						i{
    							font-size: 30px;
    							color: #fff;
    						}
		    			}
		    			.next{
	    				    position: absolute;
    						top: 50%;
    						right: 0;
    						cursor: pointer;
    						@media screen and (min-width: 1280px) {
    							right: -20px;
    						}
    						i{
    							font-size: 30px;
    							color: #fff;
    						}
		    			}
		    			.block{
		    				.table-cols-wrapper{
		    					.row{
	    						    display: flex;
    								margin: auto;
		    					}
		    					.table-block{
		    						margin: 8px;
		    						text-align: center;
		    						.isi{
		    							background: #fff;
		    						}
		    						.active{
		    							background: #f08200;
		    							color: #fff;
		    						    line-height: 28px;
										font-weight: 600;
		    						}
		    						.box{
		    							width: 30px;
		    							height: 30px;
		    							border: 1px solid #fff;
		    							border-radius: 5px;
		    						}
		    						.no-border{
		    							border: none !important;
		    						}
		    						.number{
		    							width: 30px;
		    						}
		    					}
		    				}
		    			}
		    		}
		    	}
		    	.title-box{
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 20px;
		    	}
		    	.column-form-box{
		    		.margin35{
	    				margin-bottom: 35px;
	    			}
		    		.form-group{		    			
		    			span{
	    				    font-size: 12px;
    						font-weight: 300;
		    			}
		    		}
		    	}
		    }
		}
	}
	.column-content-right{
		.side-column-final-wrapper{
			.side-column-final{
				.top-column{
				    background: #f08200;
				    padding: 20px;
				    text-align: center;
				    font-size: 25px;
				    color: #fff;
				    font-weight: 600;
				    span{
				    	font-weight: bold;
				    	font-size: 30px;
				    	display: block;
				    }
				}
				.body-column{
					border: 1px solid #f08200;
    				padding: 20px;
				    border-radius: 0px 0 5px 5px;
    				.date{
    					
    				}
    				.train{
    					font-weight: 600;
    					font-size: 20px;
    				}
    				.class{
    					font-weight: 600;
    				}
    				.passenger{
    					
    				}
    				.next-step{
    					text-align: center;
    					margin-top: 20px;
    					a{
    						display: inline-block;
						    background: #0b56a7;
						    border: 1px solid transparent;
						    color: #fff;
						    text-decoration: none;
						    padding: 10px;
						    border-radius: 5px;
						    &:hover{
						    	background: transparent;
						    	border-color: #0b56a7;
						    	color: #0b56a7;
						    }
    					}
    				}
    				.destionation-wrapper{
    					margin-top: 20px;
    					border-top: 2px solid #f08200;
						padding-top: 10px;
						ol{
							padding-left: 15px;
						    font-weight: 600;
    						font-size: 16px;
						}
    					.city{
    						font-weight: 600;
    						font-size: 16px;
    					}
    					.arrow{
    						text-align: center;
    						font-size: 30px;
						    color: #f08200;
    					}
    					.time{
						    font-size: 12px;
						    color: #727272;
						    font-weight: 300;
    					}
    				}
				}
			}
		}
	}
	.top-cols{
		background: #0b56a7;
	    padding: 10px 18px;
	    border-radius: 5px;
		.goesto{
		    font-size: 22px;
		    font-weight: 600;
		    color: #fff;
		}
		.second-col{
			.change-cols{
			    margin-bottom: 10px;
			    background: transparent;
			    border: 1px solid #fff; 
			    &:hover{
			    	background:#fff;
			    	color: #0b56a7;
			    }
			}
			.date{
			    float: left;
	    		margin-right: 20px;
			    color: #fff;
			}
		}
		
	}
	.sort-wrapper{
		border-bottom: 5px solid #f08519;
		.view-filter{
		    width: 100%;
		    border: 1px solid #0b56a7;
		    padding: 20px;
		    border-radius: 5px;
		    display: none;
		}
		.sort-column{
			@media screen and (max-width: 767px) {
				float: none !important;
			}
			.sort-block{
				margin: 20px 0;
				float: left;
				@media screen and (max-width: 767px) {
					float: none;
				    text-align: center;
				}
				span{
					color: #0b56a7;
					float: left;
					line-height: 30px;
					@media screen and (max-width: 767px) {
						float: none;
						display: block;
					}
				}
				.block{
					float: left;
				    margin: 0 10px;
				    @media screen and (max-width: 768px) {
				    	display: inline-block;
				    	float: none;
				    	margin: 0;
				    }
				    .btn-check{
				    	background-color: #f08519;
				    	color: #fff; 
				    	@media screen and (max-width: 768px) {
				    		font-size: 12px;
    						padding: 8px 8px;
				    	}
				    }
				}
			}
		}
	}
	.column-data{
		.head-data{
			border-radius: 5px;
			background: #0b56a7;
		    padding: 20px;
		    margin: 20px 0;
		    color: #fff;
		    text-transform: capitalize;
		    font-weight: 600;
		}
		.data-wrapper{
			margin-top: 30px;
			.data-block{
				margin-bottom: 20px;
				.habis{
					background: grey;
					color: #fff;
					.col-two{
						 .arrow{
						 	color: #fff !important;
						 }
					}
					.col-four{
						.price{
							color: #fff;
						}
						.order-block{
							color: #f08200 !important;
							background: #fff !important;
						}
					}
					&:hover{
						background: grey;
						color: #fff;	
						.col-four{
							.price{
								color: #fff;
							}
							.order-block{
								color: #fff;
							}
						}					
					}
				}
				a{
					display: block;
					color: #333;
					border: 1px solid #f08519;
					border-radius: 5px;
					padding: 20px 0;
					&:hover{
						background:#f08519;
						color: #fff;
						.col-two{
							.arrow{
								color: #fff;
							}
						}
						.col-four{
							.price{
								color: #fff;
							}
							.order-wrapper{
								.order-block{
									background: #fff;
									color: #f08519;
								}
							}							
						}						
					}
					.col-price{
						padding-left: 5px;
						@media screen and (max-width: 768px) {
							padding-left: 15px;
						}
					}
					.col-one{
						padding-left: 20px;
						@media screen and (max-width: 768px){
							margin-bottom: 20px;
						}
						.name{
						    font-weight: bold;
    						font-size: 20px;
						}
					}
					.col-two{
						.time-start{
							padding-left: 10%;
							font-weight: 600;
							font-size: 16px;
							@media screen and (max-width: 768px) {
								padding-left: 25%;
							}
						}
						.station{
							padding-left: 10%;
							@media screen and (max-width: 768px) {
								padding-left: 25%;
							}
						}
						.arrow{
						    text-align: center;
	    					font-size: 30px;
	    					color: #f08200;
						}
						.long-time{
							text-align: center;
						}
						.time-end{
						    padding-left: 50%;
							font-weight: 600;
							font-size: 16px;
							@media screen and (max-width: 767px) {
								padding-left: 0;
							}
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding-left:20%;
							}
						}
						.station-end{
							padding-left: 50%;
							@media screen and (max-width: 767px) {
								padding-left: 0;
							}
							@media screen and (min-width: 768px)and(max-width: 1024px) {
								padding-left:20%;
							}
						}
					}
					.col-three{
						margin: 20px 0;
						.transit{
							@media screen and (max-width: 767px) {
								text-align: center;
							}
						}
					}
					.col-four{
						.price{
						    font-size: 20px;
						    font-weight: 600;
						    color: #f08200;
						    @media screen and (max-width: 768px) {
								text-align: center;
							}
						}
						.order-wrapper{
							text-align: left;
							@media screen and (max-width: 768px) {
								text-align: center;
							}
							.order-block{
							    display: inline-block;
							    width: 100px;
							    background: #f08200;
							    color: #fff;
							    text-transform: uppercase;
							    font-weight: 600;
							    padding: 5px;
							    border-radius: 5px;
							    text-align: center;
							    letter-spacing: 2px;
							    margin: 10px 0;
							}
						}
					}
				}				
			}
		}
	}
}