/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* line 6, ../sass/print.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/print.scss */
.clear {
  clear: both;
}

/* line 14, ../sass/print.scss */
#content-wrapper {
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
}
/* line 18, ../sass/print.scss */
#content-wrapper .column-content-left .notice-wrapper {
  background: #f08200;
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
}
/* line 25, ../sass/print.scss */
#content-wrapper .column-content-left .side-menu ul {
  border: 1px solid #0b56a7;
  border-radius: 5px;
}
/* line 29, ../sass/print.scss */
#content-wrapper .column-content-left .side-menu ul .active a {
  background: #0b56a7;
  color: #fff;
}
/* line 34, ../sass/print.scss */
#content-wrapper .column-content-left .side-menu ul li {
  border-bottom: 1px solid #0b56a7;
  list-style: none;
}
/* line 35, ../sass/print.scss */
#content-wrapper .column-content-left .side-menu ul li:last-child {
  border-bottom: none;
}
/* line 40, ../sass/print.scss */
#content-wrapper .column-content-left .side-menu ul li a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}
/* line 48, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper {
  margin-bottom: 50px;
}
/* line 50, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .left {
  text-align: left;
}
/* line 52, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .left .btn {
  display: inline-block;
}
/* line 54, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .left .btn a {
  text-decoration: none;
  border: 1px solid transparent;
  background: #f08200;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
/* line 61, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .left .btn a:hover {
  background: #fff;
  border-color: #f08200;
  color: #f08200;
}
/* line 69, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .right {
  text-align: right;
}
/* line 71, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .right .btn {
  display: inline-block;
}
/* line 73, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .right .btn a {
  text-decoration: none;
  border: 1px solid transparent;
  background: #0b56a7;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}
/* line 80, ../sass/print.scss */
#content-wrapper .column-content-left .btn-two-cols-wrapper .right .btn a:hover {
  background: #fff;
  border-color: #0b56a7;
  color: #0b56a7;
}
/* line 89, ../sass/print.scss */
#content-wrapper .column-content-left .checkbox-wrapper {
  margin: 20px 0;
}
/* line 92, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper {
  background: #0b56a7;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 50px;
}
/* line 101, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .title {
  font-size: 18px;
  font-weight: bold;
}
/* line 105, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content {
  margin-top: 20px;
}
/* line 108, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content .total {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 114, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content .bayar {
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  /* line 114, ../sass/print.scss */
  #content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content .bayar {
    float: none !important;
    margin: 20px 0;
  }
}
/* line 120, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content .bayar a {
  text-decoration: none;
  background: #f08200;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  /* line 120, ../sass/print.scss */
  #content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content .bayar a {
    display: block;
    text-align: center;
  }
}
/* line 130, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .tab-wrapper .content-menu .col-trf .content .bayar a:hover {
  background: #fff;
  color: #f08200;
}
/* line 142, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .content-column-box .col-passenger {
  cursor: pointer;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
}
/* line 148, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .content-column-box .col-passenger:hover {
  border-color: #f08200;
}
/* line 152, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .content-column-box .active {
  border-color: #f08200;
}
@media screen and (min-width: 1280px) {
  /* line 156, ../sass/print.scss */
  #content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper {
    width: 650px;
    margin: 0 auto;
  }
}
/* line 161, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #fff;
}
/* line 166, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet .box-wrapper .box-col {
  width: 100px;
  text-align: center;
  display: inline-block;
}
/* line 170, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet .box-wrapper .box-col .box {
  display: inline-block;
}
/* line 177, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet .box-wrapper .box-col .filled {
  background: #fff;
}
/* line 180, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet .box-wrapper .box-col .not {
  background: grey;
}
/* line 183, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet .box-wrapper .box-col .isi {
  background: #f08200;
}
/* line 186, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .after-column-sheet .box-wrapper .box-col .box {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 196, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .prev {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  /* line 196, ../sass/print.scss */
  #content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .prev {
    left: -20px;
  }
}
/* line 204, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .prev i {
  font-size: 30px;
  color: #fff;
}
/* line 209, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .next {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  /* line 209, ../sass/print.scss */
  #content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .next {
    right: -20px;
  }
}
/* line 217, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .next i {
  font-size: 30px;
  color: #fff;
}
/* line 224, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .row {
  display: flex;
  margin: auto;
}
/* line 228, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .table-block {
  margin: 8px;
  text-align: center;
}
/* line 231, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .table-block .isi {
  background: #fff;
}
/* line 234, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .table-block .active {
  background: #f08200;
  color: #fff;
  line-height: 28px;
  font-weight: 600;
}
/* line 240, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .table-block .box {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 246, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .table-block .no-border {
  border: none !important;
}
/* line 249, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-sheet-wrapper .content-column-sheet .block .table-cols-wrapper .table-block .number {
  width: 30px;
}
/* line 257, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .title-box {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 263, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-form-box .margin35 {
  margin-bottom: 35px;
}
/* line 267, ../sass/print.scss */
#content-wrapper .column-content-left .column-box-wrapper .column-box .column-form-box .form-group span {
  font-size: 12px;
  font-weight: 300;
}
/* line 279, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .top-column {
  background: #f08200;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}
/* line 286, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .top-column span {
  font-weight: bold;
  font-size: 30px;
  display: block;
}
/* line 292, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column {
  border: 1px solid #f08200;
  padding: 20px;
  border-radius: 0px 0 5px 5px;
}
/* line 299, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .train {
  font-weight: 600;
  font-size: 20px;
}
/* line 303, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .class {
  font-weight: 600;
}
/* line 309, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .next-step {
  text-align: center;
  margin-top: 20px;
}
/* line 312, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .next-step a {
  display: inline-block;
  background: #0b56a7;
  border: 1px solid transparent;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
/* line 320, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .next-step a:hover {
  background: transparent;
  border-color: #0b56a7;
  color: #0b56a7;
}
/* line 327, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .destionation-wrapper {
  margin-top: 20px;
  border-top: 2px solid #f08200;
  padding-top: 10px;
}
/* line 331, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .destionation-wrapper ol {
  padding-left: 15px;
  font-weight: 600;
  font-size: 16px;
}
/* line 336, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .destionation-wrapper .city {
  font-weight: 600;
  font-size: 16px;
}
/* line 340, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .destionation-wrapper .arrow {
  text-align: center;
  font-size: 30px;
  color: #f08200;
}
/* line 345, ../sass/print.scss */
#content-wrapper .column-content-right .side-column-final-wrapper .side-column-final .body-column .destionation-wrapper .time {
  font-size: 12px;
  color: #727272;
  font-weight: 300;
}
/* line 355, ../sass/print.scss */
#content-wrapper .top-cols {
  background: #0b56a7;
  padding: 10px 18px;
  border-radius: 5px;
}
/* line 359, ../sass/print.scss */
#content-wrapper .top-cols .goesto {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
/* line 365, ../sass/print.scss */
#content-wrapper .top-cols .second-col .change-cols {
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #fff;
}
/* line 369, ../sass/print.scss */
#content-wrapper .top-cols .second-col .change-cols:hover {
  background: #fff;
  color: #0b56a7;
}
/* line 374, ../sass/print.scss */
#content-wrapper .top-cols .second-col .date {
  float: left;
  margin-right: 20px;
  color: #fff;
}
/* line 382, ../sass/print.scss */
#content-wrapper .sort-wrapper {
  border-bottom: 5px solid #f08519;
}
/* line 384, ../sass/print.scss */
#content-wrapper .sort-wrapper .view-filter {
  width: 100%;
  border: 1px solid #0b56a7;
  padding: 20px;
  border-radius: 5px;
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 391, ../sass/print.scss */
  #content-wrapper .sort-wrapper .sort-column {
    float: none !important;
  }
}
/* line 395, ../sass/print.scss */
#content-wrapper .sort-wrapper .sort-column .sort-block {
  margin: 20px 0;
  float: left;
}
@media screen and (max-width: 767px) {
  /* line 395, ../sass/print.scss */
  #content-wrapper .sort-wrapper .sort-column .sort-block {
    float: none;
    text-align: center;
  }
}
/* line 402, ../sass/print.scss */
#content-wrapper .sort-wrapper .sort-column .sort-block span {
  color: #0b56a7;
  float: left;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  /* line 402, ../sass/print.scss */
  #content-wrapper .sort-wrapper .sort-column .sort-block span {
    float: none;
    display: block;
  }
}
/* line 411, ../sass/print.scss */
#content-wrapper .sort-wrapper .sort-column .sort-block .block {
  float: left;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  /* line 411, ../sass/print.scss */
  #content-wrapper .sort-wrapper .sort-column .sort-block .block {
    display: inline-block;
    float: none;
    margin: 0;
  }
}
/* line 419, ../sass/print.scss */
#content-wrapper .sort-wrapper .sort-column .sort-block .block .btn-check {
  background-color: #f08519;
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 419, ../sass/print.scss */
  #content-wrapper .sort-wrapper .sort-column .sort-block .block .btn-check {
    font-size: 12px;
    padding: 8px 8px;
  }
}
/* line 432, ../sass/print.scss */
#content-wrapper .column-data .head-data {
  border-radius: 5px;
  background: #0b56a7;
  padding: 20px;
  margin: 20px 0;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}
/* line 441, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper {
  margin-top: 30px;
}
/* line 443, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block {
  margin-bottom: 20px;
}
/* line 445, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis {
  background: grey;
  color: #fff;
}
/* line 449, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis .col-two .arrow {
  color: #fff !important;
}
/* line 454, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis .col-four .price {
  color: #fff;
}
/* line 457, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis .col-four .order-block {
  color: #f08200 !important;
  background: #fff !important;
}
/* line 462, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis:hover {
  background: grey;
  color: #fff;
}
/* line 466, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis:hover .col-four .price {
  color: #fff;
}
/* line 469, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block .habis:hover .col-four .order-block {
  color: #fff;
}
/* line 475, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a {
  display: block;
  color: #333;
  border: 1px solid #f08519;
  border-radius: 5px;
  padding: 20px 0;
}
/* line 481, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a:hover {
  background: #f08519;
  color: #fff;
}
/* line 485, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a:hover .col-two .arrow {
  color: #fff;
}
/* line 490, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a:hover .col-four .price {
  color: #fff;
}
/* line 494, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a:hover .col-four .order-wrapper .order-block {
  background: #fff;
  color: #f08519;
}
/* line 501, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-price {
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  /* line 501, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-price {
    padding-left: 15px;
  }
}
/* line 507, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-one {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  /* line 507, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-one {
    margin-bottom: 20px;
  }
}
/* line 512, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-one .name {
  font-weight: bold;
  font-size: 20px;
}
/* line 518, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-two .time-start {
  padding-left: 10%;
  font-weight: 600;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  /* line 518, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-two .time-start {
    padding-left: 25%;
  }
}
/* line 526, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-two .station {
  padding-left: 10%;
}
@media screen and (max-width: 768px) {
  /* line 526, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-two .station {
    padding-left: 25%;
  }
}
/* line 532, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-two .arrow {
  text-align: center;
  font-size: 30px;
  color: #f08200;
}
/* line 537, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-two .long-time {
  text-align: center;
}
/* line 540, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-two .time-end {
  padding-left: 50%;
  font-weight: 600;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  /* line 540, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-two .time-end {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 540, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-two .time-end {
    padding-left: 20%;
  }
}
/* line 551, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-two .station-end {
  padding-left: 50%;
}
@media screen and (max-width: 767px) {
  /* line 551, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-two .station-end {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 551, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-two .station-end {
    padding-left: 20%;
  }
}
/* line 561, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-three {
  margin: 20px 0;
}
@media screen and (max-width: 767px) {
  /* line 563, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-three .transit {
    text-align: center;
  }
}
/* line 570, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-four .price {
  font-size: 20px;
  font-weight: 600;
  color: #f08200;
}
@media screen and (max-width: 768px) {
  /* line 570, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-four .price {
    text-align: center;
  }
}
/* line 578, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-four .order-wrapper {
  text-align: left;
}
@media screen and (max-width: 768px) {
  /* line 578, ../sass/print.scss */
  #content-wrapper .column-data .data-wrapper .data-block a .col-four .order-wrapper {
    text-align: center;
  }
}
/* line 583, ../sass/print.scss */
#content-wrapper .column-data .data-wrapper .data-block a .col-four .order-wrapper .order-block {
  display: inline-block;
  width: 100px;
  background: #f08200;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px 0;
}
